<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Stats</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h3>Strength</h3>
      <ul>
        <li>Athletics</li>
      </ul>
      <h3>Dexterity</h3>
      <ul>
        <li>Acrobatics</li>
        <li>Sleight of Hand</li>
        <li>Stealth</li>
      </ul>
      <h3>Intelligence</h3>
      <ul>
        <li>Arcana</li>
        <li>History</li>
        <li>Investigation</li>
        <li>Nature</li>
        <li>Religion</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3>Wisdom</h3>
      <ul>
        <li>Animal Handling</li>
        <li>Insight</li>
        <li>Medicine</li>
        <li>Perception</li>
        <li>Survival</li>
      </ul>
      <h3>Charisma</h3>
      <ul>
        <li>Deception</li>
        <li>Intimidation</li>
        <li>Performance</li>
        <li>Persuasion</li>
      </ul>
    </div>
  </div>
</div>