
footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
    color: #fff;
    background: #333;
}
img {
    max-height: 2em;
    max-width: 2em;
}