<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Roll your dice</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <label>Number of dice</label>
      <input class="form-control" type="number" min="1" max="10000" [(ngModel)]="diceTimes"/>
    </div>
    <div class="col-md-6">
      <label>Number of sides</label>
      <select class="form-control" [(ngModel)]="sides">
        <option *ngFor="let x of diceSides" [value]="x"> {{x}}</option>
      </select>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-md-12">
      <button (click)="rollDice(diceTimes, sides)" class="btn btn-primary">Roll</button>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
        <h1 class="text-center"> <div class="dice-roll">{{ diceResult }}</div> </h1>
        <span *ngFor="let x of diceList">+ {{x}} </span>
      </div>
    </div>
  </div>
</div>